.container {
  min-height: 100vh;
  max-height: 100vh;
}

.main {
  min-height: 100vh;
  max-height: 100vh;
  width: 320px;
  padding: 0 0;
  margin: auto;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}

.phaserCover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 284px;
  background-color: rgba(0, 110, 255, 0.2);
}

.phaserContain {
  background-color: green;
  width: 100%;
  height: 284px;
}

.appBody {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appBody h1 {
  margin: auto;
  margin-bottom: 5px;
  text-decoration: underline;
}
.post {
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0px 2px 5px #616161, 0px -2px 5px #b6b6b6;
  width: 250px;
  height: 220px;
  padding: 5px 10px;
  margin: auto;
  margin-bottom: 25px;
}

.postContent {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: white;
  text-align: center;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.postContent::-webkit-scrollbar {
  display: none;
}

.postContent h1 {
  font-size: 20px;
}
.postContent p {
  font-size: 15px;
  text-align: justify;
}

.myInfoPanel {
  position: relative;
  margin: auto;
  background: white;
  border-radius: 3px;
  width: 80%;
  min-height: 100vh;
  max-height: 100vh;
}

.nextPic {
  position: absolute;
  bottom: 50px;
  left: 150px;
  transform: rotate(-35deg);
  animation: next-animation 5s linear infinite;
}

@keyframes next-animation {
  0% {
    width: 15%;
  }
  25% {
    width: 20%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 20%;
  }
  100% {
    width: 15%;
  }
}

.reactPic {
  position: absolute;
  top: 100px;
  left: 250px;
  animation: icon-animation 5s linear infinite;
}

@keyframes icon-animation {
  0% {
    transform: rotate(360deg);
  }
  25% {
    transform: rotate(100deg);
  }
  50% {
    transform: translate(50%, 50%) rotate(0deg);
  }
  75% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.myInfo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 200px;
  border-radius: 5px;
  padding: 50px 50px;
  width: 50%;
  text-align: justify;
  z-index: 15;
}

.myInfo h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.myInfo p {
  font-size: 25px;
}

.myPic {
  position: absolute;
  z-index: 20;
  right: 10%;
  bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .main {
    min-height: 100vh;
    max-height: 100vh;
    /*Change width*/
    width: 800px;
    padding: 0 0;
    padding-bottom: 10px;
    margin: auto;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .main::-webkit-scrollbar {
    display: none;
  }

  .phaserCover {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    background-color: rgba(0, 110, 255, 0.2);
  }

  .phaserContain {
    background-color: green;
    width: 100%;
    height: 500px;
  }

  .post {
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0px 2px 5px #616161, 0px -2px 5px #b6b6b6;
    width: 700px;
    height: 400px;
    padding: 15px 20px;
    margin: auto;
    margin-bottom: 25px;
  }

  .postContent {
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .postContent::-webkit-scrollbar {
    display: none;
  }

  .postContent h1 {
    font-size: 25px;
  }

  .postContent p {
    font-size: 20px;
  }
}
